<div class="start" ng-if="!process && resultData.length==0" flex>
    <button ng-click="start()">Start</button>
</div>

<div class="questions" ng-if="process" layout="row" layout-md="column" layout-sm="column" layout-align="center center" flex>
    <md-sidenav class="questions-stage" flex="30" md-is-locked-open="{{process}}" layout-md="row" layout-sm="row">
        <div ng-repeat="list in listOfQuestion" flex layout="row" layout-md="" layout-sm="">
            <span ng-class="{active: idOfQuestion == $index}">Stage-{{$index+1}}</span><b ng-if="idOfQuestion == $index" class="triangle"></b>
        </div>
        <hr hide-gt-md/>
    </md-sidenav>
    <md-content class="questions-block" flex>
        <h3>
            {{list.text}}
        </h3>
        <form name="myForm"  ng-submit="next()">
            <div ng-repeat="question in list.questions" class="question-block">
                <question data="question"></question>
            </div>
            <input type="submit" value="Next">
        </form>
    </md-content>
</div>


<div class="result" ng-if="!process && resultData.length>0" flex>
    <result data="resultData"></result>
</div>


